.jumbotron{
    background-image: url("../images/mo\ salah.jpeg");
    background-size: cover;
    border-bottom: rgb(36, 34, 34) 10px solid;
    margin-bottom: auto;
    height: 337px;
    background-position: 0% 25%;
    
    
}
.jumbotron-fluid {
    padding-right: 750px;
}
.display-4{
    font-size: 100px;
    font-weight: bolder;
    color: rgb(252, 252, 8);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: -60px 36px 50px 20px;
    text-shadow: -10px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#images-row{
    margin: 10px 16px 10px 70px;

}
img{
    width: 250px;
    height: 250px;
    border-radius: 35px;
    border: 6px solid yellow;
    box-shadow: 10px 10px 5px grey;
    
}
img:hover{
    cursor: pointer;
    width: 300px;
    height: 300px;
    
   
}
.row-1{
    margin: 10px 60px 10px 60px;
}
.row{
        display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
        margin-right: 60px;
    margin-left: 60px;
}


#game-info{
    border: 8px solid yellow;
    color: yellow;
    background-color: rgb(202, 71, 71);
    border-style: ridge;
    font-family: 'Roboto', sans-serif;
    
    }

h2{
    padding: 5px 25px 5px 30px;
    text-decoration-line: underline;
}
p{
        padding: 5px 25px 5px 30px;
}

#random-number{
     border: 8px solid yellow;
    color: yellow;
    background-color: rgb(202, 71, 71);
    border-style: ridge;
    font-family: 'Roboto', sans-serif;
    
    
    
}
#wins{
    border: 8px solid yellow;
    color: yellow;
    background-color: rgb(202, 71, 71);
    border-style: ridge;
    font-family: 'Roboto', sans-serif;

    
    
    
}
#current-score{
    border: 8px solid yellow;
    color: yellow;
    background-color: rgb(202, 71, 71);
    border-style: ridge;
    font-family: 'Roboto', sans-serif;
    
    
    
}
#total-score{
    border: 8px solid yellow;
    color: yellow;
    background-color: rgb(202, 71, 71);
    border-style: ridge;
    font-family: 'Roboto', sans-serif;
    
}
footer{
            clear: both;
            background-color:  rgb(202, 71, 71);
            text-align: center;
            padding: 10px;
            color: yellow;
            margin-bottom: -10px;
            border-top: 8px solid yellow;
            margin-right: -10px;
            margin-left: -10px;
            margin-top: 75px;
}
a{
    
    text-decoration: none;
}
